:root {
  --color-full: #1d9e75;
  --color-mid: #bc781c;
  --color-danger: #e24b4a;
  --color-charging: #378add;
  --color-stopped: #7c7c7c;
  --color-ready: #f5f5f5;
  --btn-border-color: #ebc9c9;

  --bg-main: #faf9f5;
  --bg-card: #f5f4ed;
  --text-main: #000000;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.dashboard-container {
  max-width: 75rem;
  margin-inline: auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  width: 2.5rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

body {
  background-color: var(--bg-main);
}

.status-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 480px) {
  .status-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .status-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.status-cards h3 {
  font-weight: normal;
}

.card {
  padding: 1.25rem;
  width: 100%;
  max-width: 14rem;
  max-width: 100%;
  border-radius: 0.75rem;
  background-color: var(--bg-card);

  font-size: 1rem;
  color: var(--text-main);
}

.card__battery {
  font-size: 1.875rem;
  padding-bottom: 0.625rem;
}

.card__battery--charged {
  color: var(--color-full);
}

.card__battery--mid {
  color: var(--color-mid);
}

.card__battery--low {
  color: var(--color-danger);
}

.bar {
  width: 100%;
  height: 0.25rem;
  background-color: #daddd8;
  border-radius: 0.125rem;
}

.bar__fill {
  height: 100%;
  border-radius: 0.125rem;
  width: 72%;
}

.bar__fill--charged {
  background-color: var(--color-full);
}

.bar__fill--mid {
  background-color: var(--color-mid);
}

.bar__fill--low {
  background-color: var(--color-danger);
}

.card__speed-value,
.card__temperature {
  font-size: 1.875rem;
  font-weight: 500;
}

.card__speed-text {
  display: none;
}

.card__temperature--mid {
  color: var(--color-mid);
}

.card__temperature--high {
  color: var(--color-danger);
}

.card__status {
  font-weight: 500;
  font-size: 1.125rem;

  display: inline-flex;
  align-items: center;
}

.card__status--running {
  color: var(--color-full);
}

.card__status--stopped {
  color: var(--color-stopped);
}

.card__status--charging {
  color: var(--color-charging);
}

.card__status--warning {
  color: var(--color-danger);
}

.circle {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.4rem;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
}

.circle--running {
  background-color: var(--color-full);
}

.circle--stopped {
  background-color: var(--color-stopped);
}

.circle--charging {
  background-color: var(--color-charging);
}

.circle--warning {
  background-color: var(--color-danger);
}

.chart-layout {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .chart-layout {
    flex-direction: row;
  }
}
.chart-layout p {
  margin-top: 0.2rem;
}

.chart-card {
  padding: 3.125rem;
  width: 100%;
  border-radius: 0.75rem;
  background-color: white;
  border: 1px solid #eaeaea;
}

.chart {
  width: 50%;
}

.control-panel {
  margin-top: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.control-panel h4 {
  font-weight: normal;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.btn-state-text {
  margin-left: 0.5rem;
  display: inline-block;
}

@media (max-width: 480px) {
  .btn-state-text {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.btn {
  margin: auto 0.2rem auto 0.2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--btn-border-color);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn--stop {
  background-color: var(--color-danger);
}

.btn--start {
  background-color: var(--color-full);
}

.btn--ready {
  background-color: var(--color-ready);
}

.btn--charging {
  background-color: var(--color-charging);
}
