h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard-icon {
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 5px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

body {
  background-color: rgb(243, 243, 230);
}

.status-cards {
  display: flex;
  justify-content: space-between;
  margin-inline: 200px;
}

.card {
  padding: 24px;
  width: 220px;
  border-radius: 12px;
  background-color: #ececd1;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #555555;

  border: 1px solid #eaeaea;
}

.progress-track {
  width: 100%;
  height: 4px;
  background-color: #daddd8;
  border-radius: 2px;
}

.progress-fill-battery-green {
  height: 100%;
  background-color: #34a87c;
  border-radius: 2px;
  width: 72%;
}

.card-value {
  color: #34a87c;
  font-size: 30px;
  padding-bottom: 10px;
}

.green-button {
  padding-left: 5%;
  color: #34a87c;
}

.green-button li::marker {
  color: #34a87c;
}
